.overall

  = render 'items/header'

  .container.clearfix

    = render "users/mypage_side_nav"

    .credit-main
      %section.credit-content
        %h2.credit-content__header
          支払い方法
        = form_tag({action: :create, method: :post}, name:"inputForm") do
          .credit-content__form
            .card-form
              .card-form__box
                %label.card-form__box-label カード番号
                %span.card-form__box-require 必須
                %br
                = text_field_tag "number", "", class: "card-form__box-input", placeholder: "半角数字のみ", id: "card_number", type: "text", maxlength: "19", "data-input-type":"card"
                -# %input#card_number.card-form__box-input{"data-input-type":"card", maxlength: "19", placeholder: "", type: "text", name: "card_number"}
                %ul#card-no-error-wrapper.card-form__box-error
                %ul.card-form__box-card
                  .card-display
                    = image_tag("visa.svg", class: "card-display", width:"49", height:"20")
                  .card-display
                    = image_tag("master-card.svg", class: "card-display", width:"34", height:"20")
                  .card-display
                    = image_tag("saison-card.svg", class: "card-display", width:"30", height:"20px")
                  .card-display
                    = image_tag("jcb.svg", class: "card-display", width:"32", height:"20")
                  .card-display
                    = image_tag("american_express.svg", class: "card-display", width:"21", height:"20")
                  .card-display
                    = image_tag("dinersclub.svg", class: "card-display", width:"32", height:"20")
                  .card-display
                    = image_tag("discover.svg", class: "card-display", width:"32", height: "20")

            .card-form__term
              %label.card-form__box-label
                有効期限
              %span.card-form__box-require
                必須
              %br
              .card-form__box-wrap
                %select#exp_month.payment_card_expire{name: "exp_month", type: "text"}
                  %option{value: "01"} 01
                  %option{value: "02"} 02
                  %option{value: "03"} 03
                  %option{value: "04"} 04
                  %option{value: "05"} 05
                  %option{value: "06"} 06
                  %option{value: "07"} 07
                  %option{value: "08"} 08
                  %option{value: "09"} 09
                  %option{value: "10"} 10
                  %option{value: "11"} 11
                  %option{value: "12"} 12
                %i.fas.fa-icon-arrow-bottom
              %span
                月
              %ul#expire-mm-error-wrapper.card-form__box-error
              .card-form__box-wrap
                %select#exp_year.payment_card_expire{name: "exp_year", type: "text"}
                  %option{value: "2019"} 19
                  %option{value: "2020"} 20
                  %option{value: "2021"} 21
                  %option{value: "2022"} 22
                  %option{value: "2023"} 23
                  %option{value: "2024"} 24
                  %option{value: "2025"} 25
                  %option{value: "2026"} 26
                  %option{value: "2027"} 27
                  %option{value: "2028"} 28
                  %option{value: "2029"} 29
                %i.fas.fa-icon-arrow-bottom
              %span
                年
              %ul#expire-yy-error-wrapper.card-form__box-error
            .card-form__code
              %label.card-form__box-label
                セキュリティーコード
              %span.card-form__box-require
                必須
              = text_field_tag "cvc", "", placeholder: "カード背面４桁もしくは３桁の番号", class:"card-form__box-input", maxlength: "4", id: "cvc"
              -# %input#cvc.{placeholder: "", type: "number", value: "", name: "cvc"}
              %ul#security-code-error-wrapper.card-form__box-error
              .card-form__box-seqcode
                .signup-seqcode-text
                  %span.question? カード裏面の番号とは？
              .red-btn#card_token
                = submit_tag "追加する", "id": "token_submit", class: "red-btn"

  .footer
    = render "items/footer"

  .red-button
    = render '/items/button'















