.mypage-side-nav
  %nav.mypage-nav
    %ul.mypage-nav__list
      %li
        = link_to user_path(current_user.id) , class: 'contents-link' do
          マイページ
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '/users/new', class: 'contents-link' do
          お知らせ
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '/listings/list', class: 'contents-link' do
          やることリスト
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          いいね一覧
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '/items/new', class: 'contents-link' do
          出品する
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '/listings/list', class: 'contents-link' do
          出品した商品-出品中
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '/listings/in_progress', class: 'contents-link' do
          出品した商品-取引中
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '/listings/completed', class: 'contents-link' do
          出品した商品-売却済み
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          購入した商品-取引中
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          購入した商品-過去の取引
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          ニュース一覧
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          評価一覧
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          ガイド
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          お問い合わせ
          %i.fa.fa-angle-right.fa-lg

    .mypage-nav__head
      メルペイ
    %ul.mypage-nav__list
      %li
        = link_to '#', class: 'contents-link' do
          売上・振込申請
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          ポイント
          %i.fa.fa-angle-right.fa-lg

    %h3.mypage-nav__head
      設定
    %ul.mypage-nav__list
      %li
        = link_to user_profile_path, class: 'contents-link' do
          プロフィール
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          発送元・お届け先住所
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to user_credit_card_path(current_user.id), class: 'contents-link' do
          支払い方法
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          メール/パスワード
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to edit_user_path, class: 'contents-link' do
          本人情報
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to '#', class: 'contents-link' do
          電話番号の確認
          %i.fa.fa-angle-right.fa-lg
      %li
        = link_to destroy_user_session_path, method: :delete , class: 'contents-link' do
          ログアウト
          %i.fa.fa-angle-right.fa-lg
