.single_header
  %h1.single_header__logo
    = link_to root_path do
      = image_tag("/assets/mercarilogo-f4c823301da0441f633837b7b207f4711269ff5c49e8d82f66df3324031a30cc.svg")

.main
  .main__container
    %h2.main__container__title 新規会員登録
    .main__container__form
      %ul.default_list
        %li.btn_list
          = button_to "メールアドレスで登録" , sign_up_registration_path, { method: :get, class: "email_btn" }
        %li.btn_list
          .button
            = button_to "Facebookで登録", user_facebook_omniauth_authorize_path,{ method: :get, class: "facebook_btn"}
            -# = icon 'fab','facebook-square'

        %li.btn_list
          %button.google_btn
            =link_to "Googleで登録",user_google_oauth2_omniauth_authorize_path
            .google-logo
              = image_tag("/assets/google-logo.svg")

= render "/devise/registrations/footer"
