//マイページトップ

.overall

  = render "items/header"
  = render 'users/user_pankuzu'


  .container.clearfix

    = render "mypage_side_nav"

    = form_for @user do |f|
      .main-content
        .main-content__user-icon-topbox
          = image_tag("mypage_main-content-top-bg.jpg")
          = link_to '#', class: 'detail-link' do
            .detail-link__avatar
              = image_tag("member_photo_noimage_thumb.png")
            .detail-link__nickname
              %span
                = @user.nickname
            .detail-link__numbers
              .value
                評価
                .num
                  10
              .items
                出品数
                .num
                  3
        .main-content__info-n-todo
          %ul.main-content__info-n-todo__tabs
            %li
              %h3
                = link_to '#', class: 'active' do
                  お知らせ
            %li
              %h3
                = link_to '#', class: 'non-active' do
                  やることリスト
          .main-content__info-n-todo__contents
            %ul
              %li
                = link_to '#', class: 'contents-link' do
                  %figure
                    =image_tag("mercari_profile_boxicon.png")
                  .contents-body
                    .contents-body__text
                      事務局から個別メッセージ「【今だけ８％キャッシュバック】お得なチケットプレゼントしました」
                    %time
                      %i.fa.fa-clock-o.fa-lg
                      .past-time 1時間前
                  %i.fa.fa-angle-right.fa-2x
              %li
                = link_to '#', class: 'contents-link' do
                  %figure
                    =image_tag("mercari_profile_boxicon.png")
                  .contents-body
                    .contents-body__text
                      事務局から個別メッセージ「【今だけ８％キャッシュバック】お得なチケットプレゼントしました」
                    %time
                      %i.fa.fa-clock-o.fa-lg
                      .past-time 1時間前
                  %i.fa.fa-angle-right.fa-2x
              %li
                = link_to '#', class: 'contents-link' do
                  %figure
                    =image_tag("mercari_profile_boxicon.png")
                  .contents-body
                    .contents-body__text
                      事務局から個別メッセージ「【今だけ８％キャッシュバック】お得なチケットプレゼントしました」
                    %time
                      %i.fa.fa-clock-o.fa-lg
                      .past-time 1時間前
                  %i.fa.fa-angle-right.fa-2x
              %li
                = link_to '#', class: 'contents-link' do
                  %figure
                    =image_tag("mercari_profile_boxicon.png")
                  .contents-body
                    .contents-body__text
                      事務局から個別メッセージ「【今だけ８％キャッシュバック】お得なチケットプレゼントしました」
                    %time
                      %i.fa.fa-clock-o.fa-lg
                      .past-time 1時間前
                  %i.fa.fa-angle-right.fa-2x
              %li
                = link_to '#', class: 'contents-link' do
                  %figure
                    =image_tag("mercari_profile_boxicon.png")
                  .contents-body
                    .contents-body__text
                      事務局から個別メッセージ「【今だけ８％キャッシュバック】お得なチケットプレゼントしました」
                    %time
                      %i.fa.fa-clock-o.fa-lg
                      .past-time 1時間前
                  %i.fa.fa-angle-right.fa-2x
              %li
                = link_to '#', class: 'mypage-go-list' do
                  一覧を見る
        .main-content__bought-items-list
          .tab-head
            購入した商品
          %ul.tabs
            %li
              %h3
                = link_to '#', class: 'active' do
                  取引中
            %li
              %h3
                = link_to '#', class: 'non-active' do
                  過去の取引
          .tab-content
            %ul.tab-transaction-now
              %li.item
                取引中の商品がありません
            %ul.tab-transaction-old.mypage-item-list.tab-pane
              %li.item-transaction

  .footer
    = render "/items/footer"

  .red-button
    = render '/items/button'
