= render "devise/shared/header"

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .main
    .main__sign_in
      .main__sign_in__title
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path(resource_name), class: "sign_up_btn"
      .main__sign_in__button
        %ul.btn_list
          %li
            %button.facebook_btn
              = icon 'fab', 'facebook-square'
              Facebookでログイン
          %li
            %button.google_btn
              = icon 'fab','google'
              Googleでログイン
      .main__sign_in__form
        %ul
          %li
            = f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "メールアドレス"
          %li
            = f.password_field :password, autocomplete: "current-password" ,placeholder: "パスワード"
          %li.sample
            .reCAPTCHA
              %input{type: "checkbox"} 私はロボットではありません
              //Google APIを使って認証設定を埋め込む必要あり
          %li
            = f.submit "ログイン" ,class: "red_btn"
          %li
            = link_to "パスワードをお忘れの方", new_password_path(resource_name)

= render "devise/shared/footer"


