.single_header
  %h1.single_header__logo
    = link_to image_tag("/assets/mercarilogo-f4c823301da0441f633837b7b207f4711269ff5c49e8d82f66df3324031a30cc.svg")

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .main
    .main__sign_in
      .main__sign_in__title
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path(resource_name),class: "sign_up_btn"
      .main__sign_in__button
        %ul
          %li
            %button.facebook_btn
              = icon 'fab', 'facebook-square'
              Facebookでログイン
          %li
            %button.google_btn
              .google-logo
                = image_tag("/assets/google-logo.svg")
              Googleでログイン
      .main__sign_in__form
        %ul
          %li
            = f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "メールアドレス"
          %li
            = f.password_field :password, autocomplete: "current-password" ,placeholder: "パスワード"
          %li.sample
            .reCAPTCHA
              %input{type: "checkbox"} 私はロボットではありません
              //Google APIを使って認証設定を埋め込む必要あり
          %li
            = f.button "ログイン",class: 'red_btn'
          %li
            = link_to "パスワードをお忘れの方", new_password_path(resource_name)

= render "devise/registrations/footer"
