.overall
  = render 'header'
  .maincontents
    .slider
      = link_to image_tag("sinseikatu.jpg", class: "top-info"), "#"
      = link_to image_tag("90nendai.jpg", class: "top-info"), "#"
      = link_to image_tag("meisaku.jpg", class: "top-info"), "#"

  .pickup-container
    %h2 ピックアップカテゴリー
    .pickup-container__items-container
      %h3.category
        %a.index{href: ""}レディース 新着アイテム
      .items-box-content
        = render "itembox"
      .items-all
        %a.items-all{href: ""}全ての商品を見る
  .pickup-container
    %h2 ピックアップブランド
    .pickup-container__items-container
      %h3.category
        %a.index{href: ""}シャネル 新着アイテム
      .items-box-content
        = render "itembox"
      .items-all
        %a.items-all{href: ""}全ての商品を見る
  = render "footer"

  .red-button
    = render "button"
