.overall
  = render 'header'
  .pankuzu
    %ul
      %li
        = link_to '', class: 'large_cat' do
          %span メルカリ
        %i.fa.fa-chevron-right
      %li
        %span 新品未使用 スカート
  .item-box-margin
    %h1 新品未使用 スカート
    .item-main-content
      .item-main-content__item-photo
        .item-main-content__top-item
          =image_tag("top-item.jpg",alt: "top-item", height: "300px",class: "top-item")
        .item-main-content__items__cell
          =image_tag("top-item.jpg",alt: "top-item", height: "50%",width:"20%",class: "items-mini")
          =image_tag("top-item.jpg",alt: "top-item", height: "50%",width:"20%",class: "items-mini")
          =image_tag("top-item.jpg",alt: "top-item", height: "50%",width:"20%",class: "items-mini")
          =image_tag("top-item.jpg",alt: "top-item", height: "50%",width:"20%",class: "items-mini")
          =image_tag("top-item.jpg",alt: "top-item", height: "50%",width:"20%",class: "items-mini")
          =image_tag("top-item.jpg",alt: "top-item", height: "50%",width:"20%",class: "items-mini")
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to '' do
                ケイ
              .review
                .review__item-user-ratings
                  %i.fa.fa-laugh
                  %span 573
                .review__item-user-ratings
                  %i.fa.fa-meh
                  %span 1
                .review__item-user-ratings
                  %i.fa.fa-frown
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to '' do
                %p レディース
              = link_to '' do
                .item-detail-table-sub-category
                  %i.fa.fa-chevron-right
                    %p スカート
              = link_to '' do
                .item-detail-table-sub-sub-category
                  %i.fa.fa-chevron-right
                    %p ロング丈
          %tr
            %th ブランド
            %td
              = link_to '',class: "brand" do
                %div ナチュラルビューティ

          %tr
            %th 商品のサイズ
            %td M
          %tr
            %th 商品の状態
            %td 目立った傷や汚れなし
          %tr
            %th 配送料の負担
            %td 送料込み（出品者負担）
          %tr
            %th 配送の方法
            %td 未定
          %tr
            %th 配送元地域
            %td
              =link_to "" do
                東京都
          %tr
            %th 発送日の目安
            %td 2~3日で発送
    .item-price-box.clearfix
      %span.item-price ¥ 2,600
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    =link_to "/transaction/buy",class: "item-buy-btn", do
      購入画面に進む
    .item-description
      %p.item-description-inner
        URBAN RESEARCH の スプリングコート 、アイボリー ( M サイズ )になります。何年か前のお品になります。
        クリーニングに出して保管しておりました。多少の誤差があるかもしれませんが、平置きでの寸法です。
    .item-button-container
      .item-button-container__item-button-left
        %button.item-button-like{name: "like", type: "button", value:  "like"}
          %i.far.fa-heart
          %span.item-like いいね！
          %span.item-like-num 3
        =link_to "", class: "item-button-report" do
          %i.fa.fa-flag
          %span.item-report 不適切な商品の報告
      .item-button-container__item-button-right
        =link_to "" do
          %i.fa.fa-lock
          %span あんしん・あんぜんへの取り組み
  .item-comment-margin
    .item-comment-margin__container
      %form
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.text-margin
        %button.comment-submit
          %span コメントする
  .page-move
    .page-move__back
      =link_to "" do
        %i.fa.fa-chevron-left
          %p ニット セーター、ショコラフィネローブ
    .page-move__next
      =link_to "" do
        嵐Tシャツ ARASHI AROUND ASIA 2008 in TOKYO
        %i.fa.fa-chevron-right
  .item-social-media-box
    = image_tag("facebook-icon.png",height: "44",class: "facebook-icon")
    =image_tag("twitter-icon.png",height: "44",class: "twitter-icon")
    =image_tag("pinterest-icon.png",height: "44",class: "pinterest-icon")
  .items-in-user-profile
    .items-in-user-profile__box-container
      %h2
        =link_to "" do
          ケイさんのその他の出品
      .items-box-content
        .items-box-content__box
          = render "itembox"

        .items-box-content__box
          = render "itembox"

        .items-box-content__box
          = render "itembox"

        .items-box-content__box
          = render "itembox"

        .items-box-content__box
          = render "itembox"

        .items-box-content__box
          = render "itembox"

    .items-in-user-profile__box-container
      %h2
        %a アーバンリサーチその他の商品
      .items-box-content
        .items-box-content__box
          = render "itembox"

        .items-box-content__box
          = render "itembox"

        .items-box-content__box
          = render "itembox"

        .items-box-content__box
          = render "itembox"

        .items-box-content__box
          = render "itembox"

        .items-box-content__box
          = render "itembox"
  .over-margin

  .app-info
    =image_tag("kantan.png", class: "app-banner-pc")

  .footer
    = render "footer"
