.single_header
  %h1.single_header__logo
    = link_to image_tag("/assets/mercarilogo-f4c823301da0441f633837b7b207f4711269ff5c49e8d82f66df3324031a30cc.svg")

.main
  .main__container
    %h2.main__container__title 商品の情報入力
    / 出品機能 form
    = form_for @item, html: {class: 'sell_content'}do |item|
      //new_item がクラスとして付与されている
      //inputは入れているが枠全体に適応していない
      //参考サイト[https://qiita.com/QUANON/items/882b88b6b9bf3c509af8]

      .contents
        .sell_content__image_input
          .form-group
            %label
              出品画像
              %span.required_form 必須
            %p 最大10枚までアップロードできます
            .input_area
            / 出品機能 form
              = item.fields_for :images do |img|
                = img.file_field :item_image, class: 'input_area__file-upload'
                / style: 'display: none; を加える
              %p
                ドラックアンドドロップ
                %br またはクリックしてファイルをアップロード
      .contents
        .sell_content__item_contents
          .form-group
            %label 商品名
            %span.required_form 必須
            = item.text_field :name, placeholder: "商品名（必須40文字まで）"
          .form-group
            %label 商品の説明
            %span.required_form 必須
            = item.text_area :detail, placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
      .contents.clearfix
        .sell_content__item_type
          %h3.head
            商品詳細
          .sell_form
            .form-group
              %label
                カテゴリー
              %span.required_form 必須
              .select-wrap.select-default
                %select
                  %option{value: ""} --
                / # = icon 'fa', "chevron-down"
            .form-group
              %label
                商品状態
              %span.required_form 必須
              .select-wrap.select-default
                = item.select :condition, [['新品、未使用', "1" ],['未使用に近い', "2"],['目立った傷や汚れなし', "3" ],['やや傷や汚れあり', "4" ],['傷や汚れあり', "5" ],['全体的に状態が悪い', "6" ] ] , prompt: '--'
                / = icon 'fa', "chevron-down"
      .contents.clearfix
        .sell_content__delivery
          %h3.head
            配送について
          / 出品機能 form
          = item.fields_for :delivery do |del|
            .sell_form
              .form-group
                %label
                  配送料の負担
                %span.required_form 必須
                .select-wrap.select-default
                  = del.select :postage, [['送料込み（出品者負担）'],['着払い（購入者負担）']], prompt: '--'
                  / = icon 'fa', "chevron-down"
              .form-group
                //配送方法は配送料の負担を決めた後に出てくるように設定
                %label
                  配送の方法
                %span.required_form 必須
                .select-wrap.select-default
                  = del.select :shipping, [['未定'],['らくらくメルカリ便'],['ゆうメール'],['レターパック'],['普通郵便(定形、定形外)'],['クロネコヤマト'],['ゆうパック'],['クリックポスト'],['ゆうパケット']], prompt: '--'
                  / = icon 'fa', "chevron-down"
              .form-group
                %label
                  発送元の地域
                %span.required_form 必須
                .select-wrap.select-default
                  = del.select :region, [['北海道'],['青森県'],['岩手県'],['宮城県'],['秋田県'],['山形県'],['福島県'],['茨城県'],['栃木県'],['群馬県'],['埼玉県'],['千葉県'],['東京都'],['神奈川県'],['新潟県'],['富山県'],['石川県'],['福井県'],['山梨県'],['長野県'],['岐阜県'],['静岡県'],['愛知県'],['三重県'],['滋賀県'],['京都府'],['大阪府'],['兵庫県'],['奈良県'],['和歌山県'],['鳥取県'],['島根県'],['岡山県'],['広島県'],['山口県'],['徳島県'],['香川県'],['愛媛県'],['高知県'],['福岡県'],['佐賀県'],['長崎県'],['熊本県'],['大分県'],['宮崎県'],['鹿児島県'],['沖縄県'],['未定']], prompt: '--'
                  / = icon 'fa', "chevron-down"
              .form-group
                %label
                  発送までの日数
                %span.required_form 必須
                .select-wrap.select-default
                  = del.select :shipping_date, [['1~2日で発送'],['2~3日で発送'],['4~7日で発送']], prompt: '--'
                  / = icon 'fa', "chevron-down"
      .contents.clearfix
        .contents__price
          .form-group
            %h3.head
              販売価格(300〜9,999,999)
            .sell_content__price__form
              .sell_content__price__form__input_area.clearfix
                .input_label
                  %label
                    価格
                  %span.required_form 必須
                .price_input
                  ¥
                  = item.text_field :price, placeholder: "例）300"
              %hr
              //手数料を自動計算
              .sell_content__price__form__commission.clearfix
                %p
                  販売手数料 (10%)
                .fee -
              %hr
              //金額から手数料を引いた値段
              .sell_content__price__form__profit.clearfix
                %p
                  販売利益
                .profit_price -
      .contents.clearfix
        .sell_content__consent
          %p
            =link_to "禁止されている出品"
            、
            =link_to "行為"
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to "偽ブランドの販売"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            =link_to "加盟店規約"
            に同意したことになります。
          = item.submit '出品する',class: 'red_btn'
          //マイページに戻る
          %button.return_btn もどる

= render "devise/registrations/footer"
